<section class="admin-dashboard-show">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <h4>Product count : <%= link_to @product_count, '/admin/products' %></h4>
    <h4>Category count : <%= @category_count %></h4>
    <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name + ' (' + Product.where(category_id:category.id).count.to_s + ')', '/categories/' + category.id.to_s %></li>          
    <% end %>    
    </ul>    
  </div>

  <!--<div class="panel panel-default dashboard">
  </div>-->

</section>