<section class="about-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="well">
    <p>TBD...</p>
  </div>

  <!--<div class="panel panel-default dashboard">
  </div>-->

</section>